<!DOCTYPE html>
<html>
<head>
    <title>Add machine</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление машины</h1>
     <form method="POST">
        <label>Название</label><br>
        <input name="MachineName" class="field"/><br><br>
        <br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку пользователей</a>
</body>
<html>